{% extends "console/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
    <div class="card col- mt-5 pt-5 pl-2 pr-2 mr-auto ml-auto width"
        style="background-color: rgba(255, 255, 255, 0.74);">
        <h1 class="text-center">Announcement Form</h1><br>
        <hr class="m-auto" style="width: 90%;">
        <br>
        <div class="p-3">
            <form method="POST" action="">
                {% csrf_token %}
                <label>Coordinators</label>
                {% render_field form.coordinators class="form-control" %}<br>
                <label>Address</label>
                {% render_field form.address class="form-control" %}<br>
                <label>Phone</label>
                {% render_field form.phone class="form-control" %}<br>
                <label>Image</label>
                {% render_field form.image class="form-control" %}<br>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>
<br>
<br>
{% endblock content %}