{% extends "console/base.html" %} {% block content %}
<br>
<h3 class="text-white mb-3">Your Reports:</h3>
{% for test in tests %}{% if forloop.counter == 1 %}
<a class="table-secondary nav-link text-dark px-5">
    <div class="px-5 row">
        <i class="col-1 fa fa-file mt-1"></i>
        <span class="col-2">Category</span>
        <span class="col">Test Title</span>
        <span class="col-3 text-center">No. of Students Attended</span>
        <span class="col-2 text-center">Date</span>
    </div>
</a>
{% endif %}
<a href="{% url 'detailreport' pk=test.id %}" class="table-light nav-link text-dark px-5 border-bottom">
    <div class="px-5 row">
        <i class="col-1 fa fa-file-o my-auto"></i>
        <span class="col-2 my-auto">
                    {{test.subject}}
                </span>
        <span class="col mt-1 my-auto">
                        {{test.title}}
                </span>
        <span class="col-3 my-auto text-center text-dark">{{test.students.count }}</span>
        <span class="col-2 my-auto text-center">
                    {{test.date|date:"d M Y"}}
                </span>
    </div>
</a> {% empty %}
<hr>
<div class="text-center text-light p-5" style="background-color: rgba(255, 255, 255, 0.212);">It seems you have no reports!</div>

{% endfor %}{% endblock content %}