{% extends "base.html" %}{% block content %}
<style>
    a:hover {
        text-decoration: none;
        color: black
    }
</style>
<h3 style="font-weight: 400;" class="mb-3">
    Tests you have taken :
</h3>
<div>
    <div class="table-hover">
        {% for report in reports %} {% if forloop.counter == 1 %}
        <a class="table-secondary nav-link text-dark px-5">
            <div class="px-5 row">
                <i class="col-1 fas fa-files-o mt-1"></i>
                <span class="col-2">Category</span>
                <span class="col">Test Title</span>
                <span class="col-2 text-center">Attempts</span>
                <span class="col-1">Duration</span>
            </div>
        </a>
        {% endif %}
        <div href="{% url 'report' pk=report.id %}" class="table-light nav-link text-dark px-5 border-bottom">
            <div class="px-5 row">
                <i class="col-1 fa fa-files-o my-auto"></i>
                <span class="col-2 my-auto">
                    {{report.test.subject}}
                </span>
                <span class="col mt-1 my-auto">
                    <a class="text-dark" href="{% url 'report' pk=report.id %}">
                        {{report.test.title}}
                    </a>
                </span>
                <a class="col-2 my-auto text-white text-center btn btn-outline-primary text-dark" id="attempt-{{report.id}}" href="{% url 'attend' pk=report.test.id %}">
                    {{report.attempts}}
                    - Take test again
                </a>
                <a class="col-2 my-auto text-center text-dark d-none" id="no-attempt-{{report.id}}">N/A</a>
                <script>
                    if (document.getElementById("attempt- {{report.id}}").innerHTML[0] == 0) {
                        document.getElementById("attempt- {{report.id}}").href = "";
                        document.getElementById("attempt- {{report.id}}").classList.add("d-none")
                        document.getElementById("no-attempt- {{report.id}}").classList.remove("d-none")
                    }
                </script>
                <span class="col-1 my-auto text-center">
                    {{report.test.time}}
                </span>
            </div>
        </div>
        {% empty %}
        <hr>
        <div class="bg-light text-center text-muted p-5">It seems you have not taken any tests!</div>
        {% endfor %}
    </div>
</div>
<br>
<h3 style="font-weight: 400;" class="mb-3">Tests Available:</h3>
<div>
    <div class="table-hover">
        {% for test in tests %} {% if forloop.counter == 1 %}
        <a class="table-secondary nav-link text-dark px-5">
            <div class="px-5 row">
                <i class="col-1 fas fa-files-o mt-1"></i>
                <span class="col-2">Category</span>
                <span class="col">Test Title</span>
                <span class="col-2 text-center">Attempts</span>
                <span class="col-1">Duration</span>
            </div>
        </a>
        {% endif %}
        <a href="{% url 'attend' pk=test.id %}" class="table-light table-hover nav-link text-dark px-5 border-bottom">
            <div class="px-5 row">
                <i class="col-1 fa fa-files-o mt-1"></i>
                <span class="col-2"> {{test.subject}}</span>
                <span class="col">{{test.title}}</span>
                <span class="col-2 text-center"> {{test.attempts}}</span>
                <span class="col-1 text-center"> {{test.time}}</span>
            </div>
        </a>
        {% empty %}
        <hr>
        <div class="bg-light text-center text-muted p-5">It seems that there is no available tests for you!</div>
        {% endfor %}
    </div>
</div>
<br><br><br><br> {% endblock content %}